.git
.github
.docker
.temp
.tmp
.pnpm-store

node_modules
web/node_modules
web/pnpm-workspace.yaml
dist
build
coverage
web/dist
web/.astro

.env
.env.*
*.log
logs

public/pages
public/uploads
public/uploads_thumbs
public/uploads_zips

data/cache
storage/mcp
